langchain-core==0.3.21
langchain==0.3.9
langchain-community==0.3.9
langchain-openai==0.2.10
pymongo==4.10.1
azure-storage-blob==12.24.0
azure-identity==1.19.0
azure-cosmos==4.9.0
requests-html==0.10.0
lxml
pdf2image
pdfminer
opencv-python
unstructured_inference
lxml_html_clean
unstructured
pandas 
python-docx
nltk
openpyxl
jq
redis
notebook
pytest
ipykernel